{{#unless @root}}
    <p id="finding-match">Finding Match...</p>
    <button class="btn btn-danger" id="leave">Leave</button>
{{/unless}}
{{#if @root}}
<div id="match">
    <p>{{userLoginIdMyself}}</p>
    <p>Vs.</p>
    <p>{{userLoginIdOpponent}}</p>
</div>
{{/if}}
