<p id="error-msg">{{errorMsg}}</p>
<button id="retry-login" type="button" class="btn btn-success">Retry</button>
<button id="play-offline" type="button" class="btn btn-secondary" data-dismiss="modal">Play Offline</button>
