<p>Welcome <strong>{{userLoginId}}</strong></p>
<button class="btn btn-primary" id="play-normal">Play Normal Format</button>
<button class="btn btn-primary" id="play-fixed-wickets">Play Fixed Wickets</button>
<button class="btn btn-primary" id="play-fixed-balls">Play Fixed Balls</button>